<div class="card mt-50 mb-50">
  <div class="col d-flex"><span class="text-muted" id="orderno">order #546924</span></div>
  <div class="gap">
      <div class="col-1"> </div>
  </div>
  <div class="margin">
      <h1>Your order is placed thank you for shopping</h1>
      <mat-icon color="primary">shopping_cart</mat-icon>
    </div>

  <div class="main"> <span id="sub-title">
      </span>
      <div class="row row-main">
        <button mat-raised-button color="primary" [routerLink]="['/Home']">Click here</button>
  </div>
</div>
